<html>
    <%- include('../partials/head.ejs') %>
<body>


    <%- include('../partials/nav.ejs') %>
    <!-- '=' escapes special charcters and we end up with string value instead of raw html, minus sign does not do that, use minus sign with inlcude  -->

    <div class="blogs content">
        <h2>All blogs</h2>

        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <a class="single" href="/blogs/<%= blog._id %>">
                    <h3 class="title"><%= blog.title %></h3>
                    <p class="snippet"><%= blog.snippet %></p>
                </a>

            <% }); %>
        <% }else { %>
            <p>No blogs to show</p>
        <% } %>
        
    </div>
    <%- include('../partials/footer.ejs') %>

</body>
</html>